{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <ul class="menu">
    
            <li class="item"><a href="/" title="Início">Início</a></li>
            <li class="item"><a href="/login" title="Login">Login</a></li>
            <li class="item"><a href="/cadastro" title="Cadastrar-se">Cadastrar-se</a></li>
        
        </ul>
    </header>
    <main>
        <div class="toggle-btn">
            <div class="button radius" id="btn-switch">
              <input type="checkbox" class="checkbox" />
              <div class="on"></div>
              <div class="off"></div>
            </div>
          </div>               
        </div>
        <div class="button-container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <p></p>
    </footer>
    <script src="{% static 'js/tem.js' %}"></script>
</body>
</html>
